{% extends "common/template.njk" %}
{% block page_content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{title}}</h1>
<p class="govuk-body">{{ line1 }}</p>
<p class="govuk-inset-text">{{ line2 }}</p>
<p class="govuk-body">{{ line3 }}</p>

{% endblock %}
