{% extends "common/form/form.njk"%}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block before_fields %}
  {% if sections %}
    {% for item in sections %}
      {% if item %}
        <h2 class="govuk-heading-m govuk-!-margin-top-7">{{item.title}}</h2>
        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9 govuk-!-margin-top-0',
          rows: item.rows
        })
      }}
    
      {% endif %}
    {% endfor %}
      <h1 class="govuk-heading-l">Now submit your application</h1>
      <p class="govuk-body-l">By submitting this appeal you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      <br>
  {% endif %}
{% endblock %}