{% from "govuk/components/button/macro.njk" import govukButton %}

<form class="form" id="main-form" method="post" action="" novalidate="novalidate">
  <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrfToken }}">

  {% block before_fields %}{% endblock %}

  {% block form_content %}
    {% include "./fields.njk" %}
  {% endblock %}

  {% block after_fields %}{% endblock %}

  <div class="govuk-form-group">
    {% block form_actions %}
      <div class="govuk-button-group">
        {{
          govukButton({
            text: getContent(form.submit.text),
            classes: form.submit.classes,
            type: "submit",
            name: "saveAndContinue",
            value: true,
            preventDoubleClick: true,
            attributes: {
              id: 'main-form-submit'
            },
            disabled: true if form.submit.disabled else false
          }) if getContent(form.submit.text)
        }}

        {{
          govukButton({
            text: getContent(form.saveAsDraft.text),
            classes: "govuk-button--secondary",
            preventDoubleClick: true,
            type: "submit",
            name: "saveAsDraft",
            value: true,
            attributes: {
              id: 'main-form-save-as-draft'
            },
            disabled: true if form.saveAsDraft.disabled else false
          }) if getContent(form.saveAsDraft.text)
        }}

        {{
          govukButton({
            text: getContent(form.cancel.text),
            classes: form.cancel.classes if form.cancel.classes else "govuk-button--secondary",
            preventDoubleClick: true,
            type: "submit",
            name: "cancel",
            value: true,
            attributes: {
              id: 'main-form-cancel'
            },
            disabled: true if form.cancel.disabled else false
          }) if getContent(form.cancel.text)
        }}
      </div>
    {% endblock %}
    {% block after_form %}{% endblock %}
  </div>
</form>