security:
  referrerPolicy: 'origin'
port: 4000
timeout: 30000
services:
  authProvider:
    url: 'http://rpe-service-auth-provider-aat.service.core-compute-aat.internal'
    microservice: 'ds_ui'
    secret: 'NEED TO INSERT SECRET'
  idam:
    authorizationURL: 'https://idam-web-public.aat.platform.hmcts.net/login'
    tokenURL: 'https://idam-api.aat.platform.hmcts.net/o/token'
    clientID: 'ds-ui'
    clientSecret: 'NEED TO INSERT SECRET'
    systemUsername: 'dummy_user'
    systemPassword: 'dummy_password'
  postcodeLookup:
    url: 'https://api.os.uk/search/places/v1'
    token: 'NEED TO INSERT SECRET'
  hmctsHomePage:
    url: 'https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service'
  documentManagement:
    uploadSizeinMB: 30
  RPE_TOKEN:
    url: 'http://rpe-service-auth-provider-aat.service.core-compute-aat.internal'
  cos:
    url: 'http://prl-cos-aat.service.core-compute-aat.internal'
  equalityAndDiversity:
    name: 'Equality and Diversity Service'
    url: 'https://pcq.aat.platform.hmcts.net'
    path: '/service-endpoint'
    tokenKey: PCQ_TOKEN
health:
  timeout: 5000
  deadline: 15000
session:
  secret: 'local'
  redis:
    host:
    key:
e2e:
  userTestPassword: ''
appInsights:
  instrumentationKey:
documentUpload:
  validation:
    totaldocuments: 1
    totalAdditionalDocuments: 20
    sizeInKB: 20000000
queryParamsforApp:
  query:
    FMP: 'FMPO'
    RLAD: 'RELADOP'
    FGM: 'FGM'
cookies:
  expiryTime: 365
pcqEnable: true
