security:
  referrerPolicy: 'origin'
port: 4000
timeout: 30000
services:
  authProvider:
    url: 'http://rpe-service-auth-provider-aat.service.core-compute-aat.internal'
    microservice: 'ds_ui'
    secret: 'NEED TO INSERT SECRET'
  idam:
    authorizationURL: 'https://idam-web-public.aat.platform.hmcts.net/login'
    tokenURL: 'https://idam-api.aat.platform.hmcts.net/o/token'
    clientID: 'ds-ui'
    clientSecret: 'NEED TO INSERT SECRET'
    systemUsername: 'dummy_user'
    systemPassword: 'dummy_password'
  fis:
    url: 'http://fis-cos-api-pr-80.service.core-compute-preview.internal'
  postcodeLookup:
    url: 'https://api.os.uk/search/places/v1'
    token: 'NEED TO INSERT SECRET'
  hmctsHomePage:
    url: 'https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service'
  documentManagement:
    url: 'http://fis-cos-api-pr-80.service.core-compute-preview.internal' 
    uploadSizeinMB: 30
  RPE_TOKEN:
    url: 'http://rpe-service-auth-provider-aat.service.core-compute-aat.internal'
health:
  timeout: 5000
  deadline: 15000
session:
  secret: 'local'
  redis:
    host:
    key:
e2e:
  userTestPassword: ''
appInsights:
  instrumentationKey:
documentUpload:
  validation:
    totaldocuments: 5
    totalAdditionalDocuments: 20    
    sizeInKB: 20000000  
queryParamsforApp:
  query:
    FMP: 'FMPO'
    RLAD: 'RELADOP'
    FGM: 'FGM'
