{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "BETA"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. '
}) }}
{% endblock %}


{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
