{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% extends "common/page.njk" %}

{% block beforeContent %}
    {{ govukPhaseBanner({
    tag: {
      text: phase
    },
    html: feedback + languageToggle
  }) }}
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{  govukPanel({
                            titleText: title,
                            html: referenceNumber +"<br>"+ emailSentConfirmation
                        })
                    }}
                <p class="govuk-body">{{ line1 }}</p>
                <p class="govuk-body">{{ line2 }}</p>
                <p class="govuk-body">
                    <a href="https://www.gov.uk" class="govuk-link">{{line3 }}</a>
                    <a>
                        {{line4}}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}