{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% extends "common/page.njk" %}

{% block beforeContent %}
    {{ govukPhaseBanner({
    tag: {
      text: phase
    },
    html: feedback + languageToggle
  }) }}
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{  govukPanel({
                            titleText: title,
                            html: "<font size=5>"+referenceNumber+"</font>" + "<br><strong>" + caseId + "</strong>"
                        })
                    }}
                <h2 class="govuk-heading-m">{{subTitle}}</h2>
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                    {% for item in list %}
                        <li>{{item | safe}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}