apiVersion: v2
appVersion: '1.0'
description: A Helm chart for fis-ds-web App
name: fis-ds-web
home: https://github.com/hmcts/fis-ds-web
version: 0.0.13
dependencies:
  - name: nodejs
    version: 3.1.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: idam-pr
    version: 2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
