{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "common/template.njk" %}

{% block page_content %}

  {% if paymentError.hasError === true %}
    {{ govukErrorSummary({
        titleText: errors.paymentError.title,
        errorList: [
        {
            text: errors.paymentError[paymentError.errorContext],
            href:"#"
        }
        ]
    }) }}
  {% endif %}

  {{ govukWarningText({
    text: proceedingsForContempt,
    iconFallbackText: "Warning"
  }) }}

  {%endblock%}